<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<select id="getListCount" resultType="_int">
		select count(*)
		from f_board
		where deleted='N'
	</select>
	
	<select id="selectList" resultMap="boardResultSet">
  		select POST_NO, NICKNAME, CONTENT, CREATE_DATE, MODIFY_DATE, HIT, F.DELETED, CATEGORY
		FROM F_BOARD F
    		JOIN MEMBER M USING(MEMBER_NO)
		WHERE F.deleted='N'
		order by post_no desc 
		 
		<!-- select * 
		from f_board
		WHERE deleted='N'
		order by post_no desc -->
	</select>
	
	<resultMap id="boardResultSet" type="Board">
		<id property="postNo" column="POST_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="content" column="CONTENT"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="hit" column="HIT"/>
		<result property="deleted" column="DELETED"/>
		<result property="category" column="CATEGORY"/>
		<result property="nickName" column="NICKNAME"/>
	</resultMap>
	
	<insert id="inserBoard" parameterType="Board">
		insert into f_board
		values(seq_bno.nextval,#{memberNo}, #{content}, sysdate, sysdate, default, default, #{category})
	</insert>
	
	<select id="selectBoard" resultMap="boardResultSet">
		select POST_NO, NICKNAME, CONTENT, CREATE_DATE, MODIFY_DATE, HIT, F.DELETED, CATEGORY
		FROM F_BOARD F
    		JOIN MEMBER M USING(MEMBER_NO)
		WHERE F.deleted='N' and post_no = #{postNo}
		order by post_no desc 
	</select>
</mapper>
