<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="commonMapper">
	
	<resultMap id="Replies" type="Reply">
		<id property="postNo" column=""/>
		<result property="MemberNo" column="NickName"/>
		<result property="" column=""/>
		<result property="" column=""/>
		<result property="" column=""/>
		<result property="" column=""/>
		<result property="" column=""/>
		<result property="" column=""/>
		<result property="" column=""/>
		<result property="" column=""/>
	</resultMap>
	
	<select id="selectReplies" resultMap="ReplyResultSet">
		select MEMBER_NO, CONTENT, CREATE_DATE, MODIFY_DATE, RATING
		from Reply
		where BOARD_NO = #{boardNo}
		and TARGET_NO = #{targetNo}
		and DELETED ='N'
		order by REPLY_NO desc
	</select>
	
	<insert id="insertReply" parameterType="Reply">
		insert into Reply
		values(seq_rplno.nextval,  #{memberNo}, #{boardNo}, #{targetNo}, #{content}, sysdate, sysdate, #{rating}, default)
	</insert>


	
</mapper>