<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="managerMapper">

	<select id="orderCount" resultType="_int">
		select count(*)
		from "ORDER"
	</select>
	
	<resultMap type="OrderInfo" id="oiRS">
		<result property = "orderNo" column="ORDER_NO"/>
		<result property = "date" column="DATE"/>	
		<result property = "total" column ="TOTAL"/>
		<result property = "oList" column ="oList"/>	
		<result property = "status" column ="STATUS"/>												
	</resultMap> 
		
	<select id="orderList" resultMap="oiRS">
		SELECT 
				ORDER_NO, 
		        "DATE",
		        TOTAL,
		        LISTAGG(NAME, ', ') WITHIN GROUP (ORDER BY ORDER_NO) AS "oList", STATUS
		FROM ODLIST
		group by "DATE", TOTAL, STATUS, ORDER_NO 
		order by "DATE" desc
	</select>
	
	<select id="orderSortList" resultMap="oiRS">
		SELECT 
				ORDER_NO, 
		        "DATE",
		        TOTAL,
		        LISTAGG(NAME, ', ') WITHIN GROUP (ORDER BY ORDER_NO) AS "oList", STATUS
		FROM ODLIST
		<if test= "status != 9">
                where status = #{status}
        </if>        
		group by "DATE", TOTAL, STATUS, ORDER_NO 
		order by ORDER_NO desc	
	</select>
	
	<update id="orderStatus" parameterType="Order">
		update "ORDER"
		set status = 1
		where order_no = #{orderNo}
	</update>	

	<select id="oSortCount" resultType="_int">
		select count(*)
		from "ORDER"
		where status = ${status}
	</select>

	<insert id="insertProduct" parameterType="Product">
		insert into product
		values(seq_prn.nextval, #{name},#{price},#{income},#{category},sysdate,default,#{income},default)
	</insert>
	
	<resultMap type="Photo" id="photoRS">
		<id property = "photoNo" column="PHOTO_NO"/>
		<result property = "boardNo" column="BOARD_NO"/>	
		<result property = "targetNo" column ="TARGET_NO"/>
		<result property = "fileLevel" column ="FILE_LEVEL"/>
		<result property = "originName" column ="ORIGIN_NAME"/>		
		<result property = "changeName" column ="CHANGE_NAME"/>	
		<result property = "deleted" column ="DELETED"/>
	</resultMap>
	
	<resultMap type="Product" id="productResultSet">
		<id property = "productNo" column="PRODUCT_NO"/>
		<result property = "name" column="NAME"/>	
		<result property = "price" column ="PRICE"/>
		<result property = "stock" column ="STOCK"/>
		<result property = "category" column ="CATEGORY"/>		
		<result property = "createDate" column ="CREATE_DATE"/>	
		<result property = "deleted" column ="DELETED"/>
		<result property = "income" column ="INCOME"/>
		<result property = "export" column ="EXPORT"/>
		<result property = "pName" column ="CHANGE_NAME"/>
	</resultMap>
	
	<insert id="uploadImage" parameterType="Photo">
		insert into photo
		values(seq_phn.nextval, 3, seq_prn.currval, 0, #{originName}, #{changeName}, default)
	</insert>
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from product
		where deleted='N'
	</select>
	
	<select id="selectList" resultMap="productResultSet">
		select product_no,name, price, stock, create_date, income, export, change_name
		from product p
			LEFT OUTER JOIN PHOTO ON(product_no = TARGET_NO AND BOARD_NO = 3)
		WHERE p.deleted='N'
		order by product_no desc
	</select>
	
	<select id="productList" resultMap="productResultSet">
		select product_no,name, price, stock, create_date, change_name
		from product p
			LEFT OUTER JOIN PHOTO ON(product_no = TARGET_NO AND BOARD_NO = 3)
		WHERE p.deleted='N'
		order by product_no desc
	</select>
	
	<update id="updateProduct" parameterType="Product">
		update product set income=#{income},stock=#{income}-export where product_no = #{productNo}   
	</update>
	
	<select id="getSearchListCount" resultType="_int" parameterType="Product">
		select count(*)
		from product
		where deleted='N'
		<if test ="name != null">
			and name like '%'||#{name}||'%'
		</if>
		<if test ="category != null">
			and category like '%'||#{category}||'%'
		</if>
		<if test ="productNo > 0">
			and product_no = #{productNo}
		</if>
		
	</select>
	
	<select id="searchList" resultMap="productResultSet" parameterType="Product">
		select product_no,name, price, stock, create_date, income, export, change_name
		from product p
			LEFT OUTER JOIN PHOTO ON(product_no = TARGET_NO AND BOARD_NO = 3)
		WHERE p.deleted='N' 
			<if test="category != null">
				and category like '%'||#{category}||'%'
			</if> 
			<if test ="name != null">
			and name like '%'||#{name}||'%'
			</if>
			
			<if test ="productNo > 0">
			and product_no = #{productNo}
			</if>
		order by product_no desc
	</select>
	
	
	<select id="productSortList" resultMap="productResultSet" parameterType="Product">
		select product_no,name, price, stock, create_date, income, export, change_name
		from product p
			LEFT OUTER JOIN PHOTO ON(product_no = TARGET_NO AND BOARD_NO = 3)
			WHERE p.deleted='N'
		<choose>
			<when test="endDate == 31">
				and CREATE_DATE BETWEEN SYSDATE - 31 AND SYSDATE
			</when>			
			<when test="endDate == 91">
				and CREATE_DATE BETWEEN SYSDATE - 91 AND SYSDATE
			</when>		
			<when test="endDate== 181">
				and CREATE_DATE BETWEEN SYSDATE - 181 AND SYSDATE
			</when>		
			<when test="endDate == 366">
				and CREATE_DATE BETWEEN SYSDATE - 366 AND SYSDATE
			</when>										
		</choose> 		
		order by product_no desc
	</select>
	
	<select id="productSortCount"  parameterType="Product" resultType="_int">
		select count(*)
		from product
		where deleted='N'
		<choose>
			<when test="endDate == 31">
				and CREATE_DATE BETWEEN SYSDATE - 31 AND SYSDATE
			</when>			
			<when test="endDate == 91">
				and CREATE_DATE BETWEEN SYSDATE - 91 AND SYSDATE
			</when>		
			<when test="endDate == 181">
				and CREATE_DATE BETWEEN SYSDATE - 181 AND SYSDATE
			</when>		
			<when test="endDate == 366">
				and CREATE_DATE BETWEEN SYSDATE - 366 AND SYSDATE
			</when>										
		</choose>
	</select>
	
	<select id="selectExcelList" resultMap="productResultSet">
		select product_no,name, price, stock, create_date, income, export, change_name
		from product p
			LEFT OUTER JOIN PHOTO ON(product_no = TARGET_NO AND BOARD_NO = 3)
		WHERE p.deleted='N'
		order by product_no desc
	</select>
	
	<select id="searchsList" resultMap="productResultSet" parameterType="Product">
		select product_no,name, price, stock, create_date, income, export, change_name
		from product p
			LEFT OUTER JOIN PHOTO ON(product_no = TARGET_NO AND BOARD_NO = 3)
			WHERE p.deleted='N'
		<choose>
			<when test="stock == 1">
				and stock =0
			</when>
			<when test="stock == 2">
				and stock between 1 and 100
			</when>			
			<when test="stock == 3">
				and stock > 100
			</when>	
		</choose> 		
		order by product_no desc
	</select>
	
	<select id="productStatusCount" parameterType="Product" resultType="_int">
		select count(*)
		from product
		where deleted='N'
		<choose>
			<when test="stock == 1">
				and stock =0
			</when>			
			<when test="stock == 2">
				and stock between 1 and 100
			</when>		
			<when test="stock == 3">
				and stock > 100
			</when>		
		</choose>
	</select>
	

	<resultMap type="Cart" id="CartRS">
		<result property = "productNo" column="PRODUCT_NO"/>	
		<result property = "memberNo" column ="MEMBER_NO"/>
		<result property = "prCount" column ="PR_COUNT"/>
		<result property = "pName" column ="PNAME"/>
		<result property = "phName" column="PHNAME"/>		
		<result property = "price" column ="PRICE"/>
	</resultMap>  
  

	<select id="getProduct" parameterType="Order" resultMap="CartRS">
		SELECT PRODUCT_NO, PR_COUNT
		FROM ORDER_DETAIL  	
		WHERE ORDER_NO = #{orderNo}
	</select>
	
	<update id="productExport" parameterType="Cart">						
			update PRODUCT SET    
			EXPORT = EXPORT + #{prCount}, STOCK=STOCK-#{prCount}
			WHERE PRODUCT_NO = ${productNo}
	</update>
	
	<resultMap id="recipeListMap" type="RecipePreView">
		<id property="postNo" column="POST_NO"/>
		<result property="title" column="TITLE"/>
		<result property="thumb" column="CHANGE_NAME"/>
		<result property="rating" column="RATE"/>
		<result property="hit" column="HIT"/>
		<result property="thumb" column="MAINPHOTO"/>
	</resultMap>
	
	<select id="topFoodList" resultMap="recipeListMap">
		<![CDATA[
		 select * from (select POST_NO, TITLE, mainphoto, nvl(rate,0)as rate from r_preview  order by rate desc) where rownum <= 5
   		]]>
	</select>
	
	<!-- 
	
	
	
	<select id="weatherFoodList" resultMap="recipeListMap">
		<![CDATA[
	   		 SELECT * from (select r.POST_NO, TITLE, CHANGE_NAME
    	FROM R_BOARD R
    	JOIN PHOTO P ON(BOARD_NO = 1 AND TARGET_NO = POST_NO AND FILE_LEVEL = 0)
        join reply r on(p.board_no=1 and r.board_no=1 and r.target_no = p.target_no )
        join r_tag t on(r.target_no = t.post_no) 
		WHERE  R.DELETED = 'N' and tag like '%비%'
		ORDER BY post_no DESC)
        where rownum <=5
   		]]>
	</select> -->
	
	<select id="rainWeatherFoodList" resultMap="recipeListMap">
		<![CDATA[
	 		select distinct  * from (select r.post_no, r.title, change_name
                        from r_board r join r_tag t on(r.post_no = t.post_no)
                                        join photo p on(t.post_no = p.target_no and p.board_no=1 and file_level=0)
                                        
                        where r.deleted='N'
								 and tag like '%비%'
                        order by r.hit desc)
       		 where rownum <= 5
        ]]>
	</select>
	
	<select id="weatherGoodFoodList" resultMap="recipeListMap">
		<![CDATA[
	 		select distinct  * from (select r.post_no, r.title, change_name
                        from r_board r join r_tag t on(r.post_no = t.post_no)
                                        join photo p on(t.post_no = p.target_no and p.board_no=1 and file_level=0)
                                        
                        where r.deleted='N'
								 and tag like '%맑은%' or tag like '%밝은%' or tag like '%햇빛'
                        order by r.hit desc)
       		 where rownum <= 5
        ]]>
	</select>
	<select id="weatherFoodList" resultMap="recipeListMap">
		<![CDATA[
	 	 select * from (  select POST_NO, TITLE, mainphoto,HIT from r_preview  order by hit desc) where rownum <= 5
        ]]>
	</select>
	
	<resultMap type="Follow" id="FollowResultSet">
		<id property="targetNo" column="TARGET_NO"/>
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="nickName" column="NICKNAME"/>
		<result property="pName" column="CHANGE_NAME"/>
		<result property="title" column="TITLE"/>
	</resultMap>
	
	<select id="topChefList" resultMap="FollowResultSet">
	<![CDATA[
	select * from(
		SELECT M.MEMBER_NO, NICKNAME, P.CHANGE_NAME,COUNT(m.MEMBER_NO) AS hit
		FROM MEMBER M
		JOIN PHOTO P ON(P.BOARD_NO = 0 AND P.TARGET_NO = M.MEMBER_NO AND P.FILE_LEVEL = 0 AND P.DELETED != 'Y')
		LEFT OUTER JOIN R_PREVIEW R ON(R.MEMBER_NO = M.MEMBER_NO)
		WHERE M.DELETED = 'N'
        GROUP BY M.MEMBER_NO, NICKNAME, P.CHANGE_NAME
        order by hit desc)
        where rownum <=8
        ]]>
	</select>
	
</mapper>