<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="managerMapper">

	<select id="orderCount" resultType="_int">
		select count(*)
		from "ORDER"
	</select>
	
	<resultMap type="OrderInfo" id="oiRS">
		<result property = "orderNo" column="ORDER_NO"/>
		<result property = "date" column="DATE"/>	
		<result property = "total" column ="TOTAL"/>
		<result property = "oList" column ="oList"/>	
		<result property = "status" column ="STATUS"/>												
	</resultMap> 
		
	<select id="orderList" resultMap="oiRS">
		SELECT 
				ORDER_NO, 
		        "DATE",
		        TOTAL,
		        LISTAGG(NAME, ', ') WITHIN GROUP (ORDER BY ORDER_NO) AS "oList", STATUS
		FROM ODLIST
		group by "DATE", TOTAL, STATUS, ORDER_NO 
		order by ORDER_NO	
	</select>
	
	<select id="orderSortList" resultMap="oiRS">
		SELECT 
				ORDER_NO, 
		        "DATE",
		        TOTAL,
		        LISTAGG(NAME, ', ') WITHIN GROUP (ORDER BY ORDER_NO) AS "oList", STATUS
		FROM ODLIST
		<if test= "status != 9">
                where status = #{status}
        </if>        
		group by "DATE", TOTAL, STATUS, ORDER_NO 
		order by ORDER_NO desc	
	</select>
	
	<update id="orderStatus" parameterType="Order">
		update "ORDER"
		set status = 1
		where order_no = #{orderNo}
	</update>	

</mapper>