<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="recipeMapper">

	<resultMap id="recipeResultSet" type="Recipe">
		<id property="postNo" column="POST_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="title" column="TITLE"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="category" column="CATEGORY"/>
		<result property="serving" column="SERVING"/>
		<result property="reqTime" column="REQTIME"/>
		<result property="difficulty" column="DIFFICULTY"/>
		<result property="hit" column="HIT"/>
		<result property="deleted" column="DELETED"/>
	</resultMap>
	
	<resultMap id="recipeStepResultSet" type="RecipeStep">
		<id property="postNo" column="POST_NO"/>
		<result property="step" column="STEP"/>
		<result property="content" column="CONTENT"/>
	</resultMap>
	
	<resultMap id="recipeTagResultSet" type="Tag">
		<id property="postNo" column="POST_NO"/>
		<result property="tag" column="TAG"/>
	</resultMap>
	
	<resultMap id="recipeIngredientResultSet" type="Ingredient">
		<id property="postNo" column="POST_NO"/>
		<result property="name" column="INGREDIENT"/>
		<result property="amount" column="AMOUNT"/>
	</resultMap>

	<insert id="insertRecipe" parameterType="Recipe">		
		<selectKey keyProperty="postNo" resultType="int" order="BEFORE" >
			SELECT SEQ_RECIPE_NO.NEXTVAL FROM DUAL
   		</selectKey>
   		
		insert into R_BOARD
		values (#{postNo}, #{memberNo}, #{title}, SYSDATE, SYSDATE, #{category}, #{serving}, #{difficulty}, #{reqTime}, DEFAULT, DEFAULT)
		
	</insert>

	<insert id="insertIngredients" parameterType="Ingredient">
        <foreach collection="list" item="item" index="index"  open="INSERT ALL " separator=" " close="SELECT * FROM DUAL" > 
        	into R_Ingredient
        	values(#{item.name}, #{item.postNo}, #{item.amount})
        </foreach>
    </insert>
    
    <insert id="insertSteps" parameterType="RecipeStep">
        <foreach collection="list" item="item" index="index"  open="INSERT ALL " separator=" " close="SELECT * FROM DUAL" > 
        	into R_Step
        	values(#{item.step}, #{item.postNo}, #{item.content})
        </foreach>
    </insert>
    
    <insert id="insertTags" parameterType="Tag">
        <foreach collection="list" item="item" index="index"  open="INSERT ALL " separator=" " close="SELECT * FROM DUAL" > 
        	into R_Tag
        	values(#{item.tag}, #{item.postNo})
        </foreach>
    </insert>
    
    
    <select id="selectRecipe" parameterType="Recipe" resultMap="recipeResultSet">
		SELECT POST_NO, MEMBER_NO, TITLE, CREATE_DATE, MODIFY_DATE, CATEGORY, SERVING, DIFFICULTY, REQTIME, HIT, DELETED
		FROM R_BOARD
		WHERE POST_NO = #{postNo}
		AND DELETED = 'N'
	</select>
    
    <select id="selectTags" parameterType="Tag" resultMap="recipeTagResultSet">
		SELECT POST_NO, TAG
		FROM R_TAG
		WHERE POST_NO = #{postNo}
	</select>
	
	<select id="selectIngredients" parameterType="Ingredient" resultMap="recipeIngredientResultSet">
		SELECT POST_NO, INGREDIENT, AMOUNT
		FROM R_INGREDIENT
		WHERE POST_NO = #{postNo}
	</select>
	
	<select id="selectRecipeSteps" parameterType="RecipeStep" resultMap="recipeStepResultSet">
		SELECT POST_NO, STEP, CONTENT
		FROM R_STEP
		WHERE POST_NO = #{postNo}
	</select>
    
    
	
</mapper>