<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="recipeMapper">

	<resultMap id="recipeResultSet" type="Recipe">
		<id property="postNo" column="POST_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="title" column="TITLE"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="category" column="CATEGORY"/>
		<result property="serving" column="SERVING"/>
		<result property="reqTime" column="REQTIME"/>
		<result property="difficulty" column="DIFFYCULTY"/>
		<result property="hit" column="HIT"/>
		<result property="deleted" column="DELETED"/>
	</resultMap>
	
	<resultMap id="recipeStepResultSet" type="RecipeStep">
		<id property="step" column="POST_NO"/>
		<result property="step" column="STEP"/>
		<result property="content" column="CONTENT"/>
		<result property="timer" column="TIMER"/>
	</resultMap>

	<insert id="insertRecipe" parameterType="Recipe">		
		<selectKey keyProperty="postNo" resultType="int" order="BEFORE" >
			SELECT SEQ_RECIPE_NO.NEXTVAL FROM DUAL
   		</selectKey>
   		
		insert into R_BOARD
		values (#{postNo}, #{memberNo}, #{title}, SYSDATE, SYSDATE, #{category}, #{serving}, #{reqTime}, #{difficulty}, DEFAULT, DEFAULT)
		
	</insert>

	<insert id="insertIngredients" parameterType="Ingredient">
        <foreach collection="list" item="item" index="index"  open="INSERT ALL " separator=" " close="SELECT * FROM DUAL" > 
        	into R_Ingredient
        	values(#{item.name}, #{item.postNo}, #{item.amount})
        </foreach>
    </insert>
    
    <insert id="insertSteps" parameterType="RecipeStep">
        <foreach collection="list" item="item" index="index"  open="INSERT ALL " separator=" " close="SELECT * FROM DUAL" > 
        	into R_Step
        	values(#{item.step}, #{item.postNo}, #{item.content}, 0)
        </foreach>
    </insert>
    
    <insert id="insertTags" parameterType="Tag">
        <foreach collection="list" item="item" index="index"  open="INSERT ALL " separator=" " close="SELECT * FROM DUAL" > 
        	into R_Tag
        	values(#{item.tag}, #{item.postNo})
        </foreach>
    </insert>
    
    
	
</mapper>