<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.recipeMarket.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.recipeMarket.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.recipeMarket.common.Photo" alias="Photo"/>		
		<typeAlias type="com.kh.recipeMarket.recipe.model.vo.Recipe" alias="Recipe"/>
		<typeAlias type="com.kh.recipeMarket.recipe.model.vo.RecipeStep" alias="RecipeStep"/>
		<typeAlias type="com.kh.recipeMarket.recipe.model.vo.Ingredient" alias="Ingredient"/>
		<typeAlias type="com.kh.recipeMarket.buy.model.vo.Order" alias="Order"/>
		<typeAlias type="com.kh.recipeMarket.buy.model.vo.OrderDetail" alias="OrderDetail"/>		
		<typeAlias type="com.kh.recipeMarket.mypage.model.vo.mOrderInfo" alias="OrderInfo"/>
		<typeAlias type="com.kh.recipeMarket.mypage.model.vo.mOrderDetail" alias="mOrderDetail"/>		
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/member-mapper.xml"/>
		<mapper resource="mapper/board-mapper.xml"/>	
	</mappers>
</configuration>
