<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		<!-- /WEB-INF/spring/root-context.xml -->
		classPath:root-context.xml
		/WEB-INF/spring/spring-security.xml
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported> <!-- 웹소켓을 위한 설정(비동기지원) -->

	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 회원 관련 -->
	<servlet>
		<servlet-name>memberServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/member-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
	   <servlet-name>memberServlet</servlet-name>
	   <url-pattern>*.me</url-pattern>
	</servlet-mapping>   
	
	<!-- 마이 페이지 -->
	<servlet>
		<servlet-name>mypageServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/mypage-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
	   <servlet-name>mypageServlet</servlet-name>
	   <url-pattern>*.mp</url-pattern>
	</servlet-mapping>   
		
	<!-- 게시판 관련 -->
	<servlet>
		<servlet-name>boardServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/board-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>boardServlet</servlet-name>
		<url-pattern>*.bo</url-pattern>
	</servlet-mapping>	
	
	<!-- 레시피 관련 -->
	<servlet>
		<servlet-name>recipeServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/recipe-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>recipeServlet</servlet-name>
		<url-pattern>*.rc</url-pattern>
	</servlet-mapping>

	<!-- 구매 관련 -->
	<servlet>
		<servlet-name>buyServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/buy-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>buyServlet</servlet-name>
		<url-pattern>*.by</url-pattern>
	</servlet-mapping>

	<!-- 관리자 관련 -->
	<servlet>
		<servlet-name>managerServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/manager-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>managerServlet</servlet-name>
		<url-pattern>*.ma</url-pattern>
	</servlet-mapping>	
	
	
	<!-- 마켓 관련 -->
	<servlet>
		<servlet-name>productServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/product-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>productServlet</servlet-name>
		<url-pattern>*.bu</url-pattern>
	</servlet-mapping>
	
	<!-- 공용 에러페이지 등록 -->
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/views/common/errorPage.jsp</location>
	</error-page>
	
	<!-- 한글깨짐방지 인코딩 -->
	<filter>
      <filter-name>encodingFilter</filter-name>
      <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
      <init-param>
         <param-name>encoding</param-name>
         <param-value>UTF-8</param-value>
      </init-param>
   </filter>
   <filter-mapping>
      <filter-name>encodingFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>   
</web-app>
